.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 786px;
}
.h1 {
    color: white;
    font-size: 17px;
}
.para {
    color: rgb(125, 126, 127);
    font-size: 13px;
}
.para2 {
    color: rgb(96, 97, 97);
    font-size: 11px;
}
