.conatiner1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    padding: 0px 20px;
}
.conatiner2 {
    background-color: rgb(45, 45, 45);
    color: rgb(125, 126, 127);
    text-align: center;
}
