.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(158, 154, 154);
    justify-content: space-between;
}
.logo {
    width: 60px;
    margin: 10px;
    margin-left: 40px;
}

.ul {
    display: flex;
    flex-direction: row;
}

.li {
    list-style: none;
    padding: 25px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    background: none;
    color: rgb(158, 154, 154);
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
