.container {
    position: relative;
}
.card {
    z-index: 5;
}
.card_on_hover {
    position: absolute;
    top: 0;
    z-index: 10;
}
.play {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: rgb(6, 6, 179);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    height: 250px;
    width: 170px;
    border-radius: 10px;
}
.details {
    margin-top: 5px;
    color: rgb(158, 158, 158);
    width: 165px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details_container {
    padding: 0px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.dot {
    padding-top: 3px;
}
.movie {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 3px;
    padding: 1px 4px;
    font-size: 11px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
