.p {
    font-weight: lighter;
    font-size: 1.5rem;
}
.cards {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    column-gap: 15px;
}
.ul {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.li {
    list-style: none;
    padding: 5px;
}
.button {
    height: 30px;
    width: 80px;
    color: rgb(167, 167, 167);
    background-color: rgb(40, 40, 40);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
}
.movies {
    background-color: rgb(22, 22, 158);
    color: white;
    width: 70px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hr {
    border: 0.3px solid rgb(139, 139, 139);
    width: 75%;
    margin-top: 4px;
}
