.conatiner1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    padding: 0px 20px;
}
.conatiner2 {
    background-color: rgb(45, 45, 45);
    color: rgb(125, 126, 127);
    text-align: center;
}
.main_main_conatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
}
.h1 {
    color: white;
    font-size: 17px;
}
.containerLink {
    display: flex;
    flex-direction: column;
}
.p {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(125, 126, 127);
    font-size: 15px;
}
.p:hover {
    color: rgb(173, 174, 174);
}
.containerAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 786px;
}
.para {
    color: rgb(125, 126, 127);
    font-size: 13px;
}
.para2 {
    color: rgb(96, 97, 97);
    font-size: 11px;
}
