@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::placeholder {
    color: #ababab;
}
